<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ page.title }} • Code for BTV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/docs/css/social-buttons.css">
    <link rel="stylesheet" href="/docs/css/custom.css">
    <link rel="stylesheet" href="//openfontlibrary.org/face/alegreya" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script type="text/javascript" src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <link rel="respond-proxy" href="//netdna.bootstrapcdn.com/respond-proxy.html" id="respond-proxy" />
        <link rel="respond-redirect" href="/img/respond.proxy.gif" id="respond-redirect" />
        <script type="text/javascript" src="/js/respond.proxy.js"></script>
    <![endif]-->
</head>
<body>
{{ content }}
    <footer>
        <div class="container">
            <h1 class="h4">Website Credits</h1>
            <ul class="list-unstyled">
                <li><strong>Contributors:</strong> Jason Pelletier &amp; Bradley Holt of <a href="http://foundline.com/">Found Line</a></li>
                <li><strong>Front-End Framework:</strong> <a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
                <li><strong>Icons &amp; Buttons:</strong> <a href="http://glyphicons.com/">Glyphicons</a>, <a href="http://fontawesome.io/">Font Awesome</a>, <a href="http://noizwaves.github.io/bootstrap-social-buttons/">Social Buttons for Twitter Bootstrap</a></li>
                <li><strong>Font:</strong> <a href="http://openfontlibrary.org/en/font/alegreya">Alegreya</a> by <a href="http://openfontlibrary.org/en/font/alegreya">Juan Pablo del Peral</a> <small><a href="http://scripts.sil.org/OFL">[OFL (SIL Open Font License)]</a></small></li>
            </ul>
        </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>
